<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="MCSQLConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=KeyPassDb;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;" />
  </connectionStrings>
  <appSettings>
    <add key="PASSWORD_SALT" value="wXGOtiEvvCiIL4V4kCFrgjQlzv0tnYewtr706VTahTKHuXXQfq"/>
    <add key="AES_KEY" value="pdq2VvS55UU/Un3tMCaJlyyjFO0B219ctFS6LiHfDUypeGYwpFZBMgvxcCNFFuyL"/>
  </appSettings>
</configuration>
